<script type="text/javascript">
    $j(document).ready(function(){
          $j("#tabela").tablesorter({headers: { 3:{sorter: false}}});
      }
    );
</script>

<span style="font-size: 24px;">Lista de Usuários</span>&nbsp;(<%= link_to 'Novo', new_user_path %>)
<br/><br/>

<table id="tabela" class="tablesorter" width="100%">
  <thead>
    <tr>
      <th style="color: black;" width="20%">Login</th>
      <th style="color: black;" width="30%">Nome</th>
      <th style="color: black;" width="30%">E-mail</th>
      <th colspan="3" width="20%"/>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%=h user.login %></td>
      <td><%=h user.name %></td>
      <td><%=h user.email %></td>
      <td><%= link_to 'Detalhar', user %></td>
      <td><%= link_to 'Editar', edit_user_path(user) %></td>
      <td><%= link_to 'Apagar', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

