<h1>Editando projeto</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Descrição" %><br />
    <%= f.text_area :description, :cols => 70, :rows => 10 %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Detalhar', @project %> |
<%= link_to 'Voltar', projects_path %>