<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content = "-1" />

  <title>Horas Trabalhadas: Login</title>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'horastrabalhadas' %>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div id="container">
  <%= render :partial => "layouts/banner" %>
  <div id="menu"></div>
  <div id="main">
    <br/><br/><br/>
    <div id="text_top">
      <%= show_error %>
      <%= yield %>
    </div>
    <br/>
    <div id="text_bottom">     
    </div>
  </div>  
  <%= render :partial => "layouts/footer" %>
</div>
</body>
</html>
